.lt-ie9 ul.menu li,
.lt-ie9 .form-item,
.lt-ie9 .form-actions,
.lt-ie9 .views-exposed-form .views-exposed-widget {
  margin: 0;
  padding: 0;
}
.lt-ie9 ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}
.lt-ie9 .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
.lt-ie9 ul li.collapsed {
  list-style-type: none;
  list-style-image: none;
}
.lt-ie9 .main-menu .depth-1 {
  margin-right: 18px;
}
.lt-ie9 .item-list ul.pager li {
  padding: 0px;
}
.lt-ie9 .item-list ul.pager li a {
  text-decoration: none;
}
