html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

div.tabs,
.item-list ul,
.item-list ul li,
.item-list .pager li,
ul.inline li,
li.expanded,
li.collapsed,
ul li.leaf,
li.leaf, ul,
ol,
ul.menu li,
.node ol,
.node ul,
.filter-help,
.form-item,
.form-actions,
.views-exposed-widgets,
.views-exposed-form .views-exposed-widget {
  margin: 0;
  padding: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

ul li.leaf,
ul li.collapsed {
  list-style: none;
}

.pie-element {
  behavior: url('PIE.htc');
  position: relative;
}

div#page {
  width: 100%;
  background-color: white;
  font-family: helvetica, arial, sans-serif;
}
@media (min-width: 1023px) {
  div#page {
    width: 1024px;
  }
}

header {
  width: 100%;
  float: left;
  margin-right: 1.97628%;
  display: inline;
  background: url("/sites/default/files/octu.png") no-repeat scroll 40px -160px black;
  height: 100px;
}
@media (min-width: 800px) {
  header {
    background: url("/sites/default/files/octu.png") no-repeat scroll 0 -90px black;
    height: 140px;
  }
}

#sidebar-first {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}
@media (min-width: 650px) {
  #sidebar-first {
    width: 23.51779%;
    float: left;
    margin-right: 1.97628%;
  }
}

#sidebar-second {
  background-color: white;
  width: 100%;
  float: left;
  margin-right: 1.97628%;
  display: inline;
}
@media (min-width: 650px) {
  #sidebar-second {
    width: 23.51779%;
    float: right;
    margin-right: 0;
  }
}

#content {
  background-color: white;
  width: 49.01186%;
  float: left;
  margin-right: 1.97628%;
  display: inline;
}

#footer {
  width: 100%;
  float: left;
  margin-right: 1.97628%;
  display: inline;
}

.region-sidebar-first .content,
.region-sidebar-second .content {
  padding: 6px;
}

#site-name {
  padding-left: 13px;
  padding-top: 41px;
  color: #999;
  font-size: 40px;
  font-family: "Fjalla One", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 800px) {
  #site-name {
    padding-left: 313px;
    padding-top: 41px;
    font-size: 80px;
  }
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
  line-height: 6rem;
}
