div#page {
  width: 100%;
  background-color: white;
  @include at-breakpoint($last) {
    width: 1024px;
  }
  font-family: helvetica, arial, sans-serif;
  }
  
  
header {
  @include span-columns(12,12);
  background: url('/sites/default/files/octu.png') no-repeat scroll 40px -160px #000;
  height: 100px;
    @include at-breakpoint($second) {
     background: url('/sites/default/files/octu.png') no-repeat scroll 0 -90px #000;
     height: 140px;
  }
}

#sidebar-first {

  @include span-columns(12 omega,12);
  @include at-breakpoint($first) {
    @include span-columns(3 alpha, 12);
  }
}
  
#sidebar-second {
  background-color: white;
  @include span-columns(12, 12);
  @include at-breakpoint($first) {
    @include span-columns(3 omega, 12);
  }
}
#content {
  background-color: white;
  @include span-columns(6,12);
}
#footer {
  @include span-columns(12,12);
}

.region-sidebar-first, 
.region-sidebar-second {
  .content {
    padding: 6px;
  }
}
