//-----------------------------------------
// General mixins
//-----------------------------------------
@mixin margin-vertical ($value) {
	margin-top: $value;
	margin-bottom: $value;
}

@mixin font-family () {
	font-family: arial, helvetica;
}


@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}