//-----------------------------------------
// Drupal resets
//-----------------------------------------
div.tabs,
.item-list ul,
.item-list ul li,
.item-list .pager li,
ul.inline li,
li.expanded,
li.collapsed,
ul li.leaf,
li.leaf, ul,
ol,
ul.menu li,
.node ol,
.node ul,
.filter-help,
.form-item,
.form-actions,
.views-exposed-widgets,
.views-exposed-form .views-exposed-widget {
  margin: 0;
  padding: 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
ul li.leaf,
ul li.collapsed {
  list-style: none;
}