#site-name {
  padding-left: 13px;
  padding-top: 41px;
  color: #999;
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
    @include at-breakpoint($second) {
      padding-left: 313px;
      padding-top: 41px;
      font-size: 80px;
    }
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 4rem;
  line-height: 6rem;
}
