//-----------------------------------------
// Susy settings
//-----------------------------------------
// this is the default number of columns
$total-columns: 12;
// width of each column
// $column-width: 75px;
$column-width: 66px;
// space between columns
// $gutter-width: 10px;
$gutter-width: 20px;
// space on the right and left of the grid
$grid-padding: 10px;

// breakpoints
$first: 650px;
$second: 800px;
$last: 1023px;

// colors
$header-background: #137F1E;
$footer-background: #564C47;
$login-button-background: #4A9E2E;
