// lower than ie9
.lt-ie9 {
	ul.menu li,
	.form-item,
	.form-actions,
	.views-exposed-form .views-exposed-widget {
	// .views-exposed-form .views-exposed-widget .form-submit {
	  margin: 0;
	  padding: 0;
	}
	ul li.leaf {
	  list-style-type: none;
	  list-style-image: none;
	}

	.views-exposed-form .views-exposed-widget .form-submit {
	  margin-top: 0;
	}

	ul li.collapsed {
	  list-style-type: none;
	  list-style-image: none;
	}
	.main-menu .depth-1 {
    margin-right: 18px;
	}

	.item-list ul.pager li {
		padding:0px;
		a {
			text-decoration:none;
		}
	}

}