{#
/**
 * @file
 * Three's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * @see template_preprocess()
 * @see template_preprocess_page()
 * @see three_preprocess_page()
 *
 * @ingroup themeable
 */
#}


  <header id="branding" class="clearfix" role="navigation">
   {% if logo %}
<!--    <img id="logo" src="{{ logo }}" alt="{{ site_name }}" /> -->
    {% endif %}
    {% if site_name %}
    <div id="site-name">{{ site_name }}</div>
    {% endif %}

  </header>

  <div id="page">
    {{ breadcrumb }}

    {% if primary_local_tasks %}
      <div role="tab"> {{ primary_local_tasks }} </div>
    {% endif %}
    
    {% if secondary_local_tasks %}
      <div class="tabs-secondary clearfix" role="navigation">{{ secondary_local_tasks }}</div>
    {% endif %}

    {% if page.sidebar_first %}
    <div id="sidebar-first" class="sidebar side-first">

      {{ page.sidebar_first }}
    </div>
    {% endif %}
    <main id="content" class="clearfix" role="main">
      <div class="element-invisible"><a id="main-content"></a></div>
      {% if messages %}
        <div id="console" class="clearfix">{{ messages }}</div>
      {% endif %}
      {% if page.help %}
        <div id="help">
          {{ page.help }}
        </div>
      {% endif %}
      {% if action_links %}
        <ul class="action-links">
          {{ action_links }}
        </ul>
      {% endif %}
            {{ title_prefix }}
    {% if title %}
    <h1 class="page-title">{{ title }}</h1>
    {% endif %}
    {{ title_suffix }}
        
      {{ page.content }}
    </main>
   {% if page.sidebar_second %}
    <div id="sidebar-second" class="sidebar sidebar-second">
      {{ page.sidebar_second }}
    </div>
    {% endif %}
    <footer id="footer" role="contentinfo">
      {{ feed_icons }}
    </footer>
      
  </div>